{{!-- {{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}

<div class="row mt-4">
  <div class="col-md-6">
    <div class="form-group">
      <select id='select_state' class="states">
        <option>Select a State</option>
        <option>Current State</option>
        <option value="WA">Washington</option>
      </select>
      <button>1</button>
    </div>
    <div class="form-group">
      <select id='select_mon' class="Month">
        <option>Select a Month</option>
        <option>Current Month</option>
        <option value="1">Jan</option>
        <option value="2">Feb</option>
        <option value="3">Mar</option>
        <option value="4">Apr</option>
        <option value="5">May</option>
        <option value="6">Jun</option>
        <option value="7">Jul</option>
        <option value="8">Aug</option>
        <option value="9">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>

      </select>
      <button>2</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id='search'>Search</button>
    </div>

    <div>
      <h4 id = 'result'></h4>
    </div>

    {{!-- <h3>Create New Recipe:</h3> --}}

    {{!-- <form class="form new-recipe-form">
      <div class="form-group">
        <label for="recipe-name">Recipe name:</label>
        <input class="form-input" type="text" id="recipe-name" name="recipe-name" />
      </div>
      <div class="form-group">
        <label for="ingredients">Ingredients:</label>
        <input class="form-input" type="text" id="ingredients" name="ingredients" />
      </div>
      <div class="form-group">
        <label for="recipe-desc">description:</label>
        <textarea class="form-input" id="recipe-desc" name="recipe-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div> --}}

  {{!-- {{#if products.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} --}}
</div>

<script src="./js/profile.js"></script>